@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div { 
    font-family: 'Prompt', sans-serif; 
}

.modal-title, .modal-body {
    font-family: 'Prompt', sans-serif;
}

#content {
    overflow-x: auto;
}



body::-webkit-scrollbar,.scroll-content::-webkit-scrollbar {
    display: none;
}

.search-bar i {
    display: flex;
    padding: 9px;
    position: relative;
    top:2px;
    right: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
}

.search-bar input {
    border-color: #6c757d;
    border-radius: 20px;
    height: 37.5px;
    padding: 0 30px;
    border: 1px solid #6c757d;
    transform: border-color 0.5;
}

.search-bar input:focus {
    border-color: #198754;
    outline: none;
    box-shadow: 0 0 5px rgba(25, 135, 84, 0.5);
}


.nav-link a {
    color: white;
    text-decoration: none;   
}

.nav-link a:hover {
    background-color: #ffff;
    color: #198754;
}

.body-content:hover {
    background-color: #198754;
    opacity: 0.7;
    color: white;
}


.body-content a div:hover {
    background-color: #198754;
    opacity: 0.7;
    color: white;
}


.dropdown-menu li {
    padding: 5px;
}


.scroll-content .item {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.scroll-content .item:hover {
    color: white;
    background-color: #198754;
    opacity: 0.7;
}

#MainPieChart {
    max-width: 400px; 
    max-height: 400px;
    position: relative;
    /* top: -20px; */
}
#SubPieChart {
    max-width: 400px; 
    max-height: 400px;
    position: relative;
    top: 120px;
}

